@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/iranyekanweblight.woff') format('woff');
}

@font-face {
  font-family: iransharp;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/iransharp_bold_web.woff') format('woff');
}

:root {
  --main-bg: #b9c7f5;
  --heading-font: iransharp, -apple-system, BlinkMacSystemFont, sans-serif;
  --main-font: iranyekan, -apple-system, BlinkMacSystemFont, sans-serif;
  --footer-height: 75px;
  --text-light: rgba(0, 0, 0, 0.4);
  --text-lighter: rgba(0, 0, 0, 0.3);
  --border-color: #e5e7e9;
  --sharp: rgb(224, 158, 143);
  --logo-second: #b8c8f4;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-blur: 15px;
}

html {
  background: rgb(224, 158, 143);
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--main-font) !important;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 0.8rem;
  margin: 0;
  text-align: justify;
}

button,
a {
  font-family: var(--main-font);
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: var(--sharp);
}

#__next {
  min-height: 100%;
  background: rgb(224, 158, 143);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sharp-button {
  background-color: var(--sharp);
  color: white;
  padding: 8px 15px;
  border: solid 1px var(--sharp);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  opacity: 0.9;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
}

.sharp-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--sharp);
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--sharp);
  -moz-box-shadow: 0 0.5em 0.5em -0.4em var(--sharp);
  color: white;
  transform: translateY(-0.25em);
  opacity: 1;
}

.text-small {
  font-size: 0.7rem;
}

.expand-button {
  background-color: transparent;
  border: none;
  color: black;
  color: blue;
  font-size: 0.8rem;
  cursor: pointer;
}

.expand-button:hover {
  color: var(--sharp);
}

.bottom-button {
  margin-top: auto;
  align-self: center;
  font-size: 0.8rem;
}

.h_iframe-aparat_embed_frame {
  position: relative;
}
.h_iframe-aparat_embed_frame .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-span {
  display: block;
  padding-top: 57%;
}
