.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nextButton {
  padding: 0 20px;
  min-width: 100px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-top: 50px;
  text-align: center;
  line-height: 40px;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s;
}

.nextButton:hover {
  border: solid 2px rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.8);
}

.cardContainer {
  margin-top: 40px;
  min-height: 70vh;
  background-color: white;
  width: 500px;
  max-width: 95vw;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.textContainer {
  padding: 40px 5vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textContainer h3 {
  margin-bottom: 0.5rem;
}

.centered {
  align-items: center;
}

.imageContainer {
  min-height: 60%;
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.iframeContainer {
  min-height: 80%;
  flex: 5;
  margin: 0;
  padding: 0;
  display: flex;
}

.iframeContainer iframe {
  width: 100%;
  height: auto;
  border: 0;
  /* width: 100%; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
